.items {
  margin-top: 30px;
  max-height: 20em;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.line-through {
  text-decoration: line-through;
}

.items::-webkit-scrollbar {
  display: none;
}

.items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 300ms;
  color: rgb(236, 236, 236);
}

.items li span {
  display: flex;
  align-items: center;
}

.items li span input[type="checkbox"] {
  margin-right: 10px;
}

.items li:hover {
  background: #ac73ff;
}

.items li .edit {
  color: #d7ad0d;
}

.items li .delete {
  color: #c82b28;
}

.items li .edit,
.items li .delete {
  margin-right: 15px;
  cursor: pointer;
}
