* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #2A0944;
  padding-top: 50px;
  overflow: hidden;
}

button {
  cursor: pointer;
}
